<footer>

<ul>
    <li><a title="About Go Viral Events" href="/about">About</a></li>
    <li><a title="Go to contact page" href="/contact">Contact</a></li>
    <li><a title="Log in to the app to use as admin" href="/users/login">Admin</a></li>
</ul>

    <p>&copy; Lisa Veltman 2020</p>
</footer>

