<h1> About  <span class="boldtitle">Go Viral Events.</span></h1>
<span class="separator">...</span>

<img title="Go Viral logo" class="floatright logoabout" src="/img/megaphone.png">

<p class="bold">
Go Viral Events is an app where you can share your happenings and events. 
</p><p>
You can also like, share and join other events and see what is happening in your area. 

It can be difficult sometimes to share your idea but to have all ideas on the same platform will boost them and make the best ones become real!

It is free and simple! Create a user in a few steps and you are ready to go!
</p>
<p>Developed by Lisa Veltman </p>

<a title="Contact us" href="/contact">
<div class="button">Contact us</div>
</a>
