<h1> Contact  <span class="boldtitle">Go Viral Events.</span></h1>
<span class="separator">...</span>

<p>You are welcome to contact Lisa by sending an email to 
<a href = "mailto:lv222fz@student.lnu.se">lv222fz@student.lnu.se</a>
</p>

<a title="About" href="/about">
<div class="button">About us</div>
</a>