
        
    
<div class="home">
    <div class="homecolor">
    </div>
</div>

<div class="homebox">
        <h1>Go <span class="boldtitle purple">Viral!</span></h1>
        <span class="separator purple">...</span>
        <h3> Share your happenings and events!</h3>
    <p>
    Discover events or share your own by creating an account and make your event go viral!</p>

    <a title="About" href="/users/add">
    <div class="button dark">Register here!</div>
    </a>
</div>