<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Go Viral Events - 404 </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
 
<body>
  
    <img title="Go Viral logo" class="headerlogo" src="/img/megapink.png">
    <a title="Go home" href="/">
<div class="title">Go Viral <br><span class="titlesmaller">events</span></div></a>
  <main>
    <div class="home home404 ">
      <div class="homecolor home404">
      </div>
  </div>
  <br><br><br>
          <h1>404 <span class="boldtitle purple"> Oh!</span></h1>
          <h3>We can't find the page!</h3>
      
      <a title="Home" href="/">
      <div class="button dark">Home!</div>
      </a>
  </div>

  </main>
  <footer><p>&copy; Lisa Veltman 2020</p></footer></body>



</html>